<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DefaultConnection" 
             connectionString="Server=localhost\SQLEXPRESS;Database=User27;Trusted_Connection=True;TrustServerCertificate=True;"
             providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
</configuration> 